@using Tech.Aerove.Blazor.DataTables.AOriginalDT.Models
@using Tech.Aerove.Blazor.DataTables.AOriginalDT.Attributes
@using Tech.Aerove.Blazor.DataTables.AOriginalDT.Components
@using Tech.Aerove.Blazor.DataTables.AOriginalDT.Extensions
@using Tech.Aerove.Blazor.DataTables.AOriginalDT.Models.Enums;
@inherits ComponentBase

<td @attributes="InputAttributes">@ChildContent</td>
