@using Tech.Aerove.Blazor.DataTables.AOriginalDT.Models
@using Tech.Aerove.Blazor.DataTables.AOriginalDT.Attributes
@using Tech.Aerove.Blazor.DataTables.AOriginalDT.Components
@using Tech.Aerove.Blazor.DataTables.AOriginalDT.Extensions
@using Tech.Aerove.Blazor.DataTables.AOriginalDT.Models.Enums;
@typeparam TItem
@inherits ComponentBase
<div class="row">
    <div class="col-3 col-sm-6">
        @if (DataLengthAttribute.IsEnabled<TItem>())
        {
            <div class="dataTables_length">
                <label class="form-label">
                    <select class="form-control form-control-sm form-select form-select-sm" @onchange="OnLengthChangeAsync">
                        @foreach (var length in DataLengthAttribute.GetLengths<TItem>())
                        {
                            <option value="@length" selected="@(Network.TableData.Length == length)">@length</option>
                        }
                    </select>
                </label>
            </div>
        }
    </div>
    <div class="col-9 col-sm-6 text-end">
        @if (Network.Columns.Searchable())
        {

            <label>
                Search:
                <input type="search" class="form-control form-control-sm" placeholder="" @bind="Network.TableData.SearchInput" @oninput="OnSearchChange">
            </label>

        }
    </div>
</div>