th {
    padding-right: 30px;
    cursor: pointer;
    position: relative;
}

    th.orderable::before {
        /*font-family: "IBM Plex Sans",sans-serif;*/
        right: 1em;
        left: auto;
        content: "↑";
        position: absolute;
       /* bottom: 0.9em;*/
        display: block;
        opacity: .3;
    }

    th.orderable::after {
       /* font-family: "IBM Plex Sans",sans-serif;*/
        right: 0.5em;
        left: auto;
        content: "↓";
        position: absolute;
        bottom: 0.5em;
        display: block;
        opacity: .3;
    }
    th.desc::after {
        opacity: 1;
    }
    th.asc::before {
        opacity: 1;
    }
