th {
    padding-right: 30px;
    cursor: pointer;
    position: relative;
}

    th.orderable::before {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        right: 1em;
        left: auto;
        content: "↑";
        position: absolute;
        bottom: 0.4em;
        display: block;
        opacity: .3;
    }

    th.orderable::after {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        right: 0.5em;
        left: auto;
        content: "↓";
        position: absolute;
        bottom: 0.4em;
        display: block;
        opacity: .3;
    }
    th.desc::after {
        opacity: 1;
    }
    th.asc::before {
        opacity: 1;
    }
