.table-bottom {
    margin-top: -1em;
}

.page-button {
    cursor: pointer;
    border-radius: 30px !important;
    height: 37px;
    margin: 0 3px;
    border: none;
    padding: 0.5rem 0.75rem;
    position: relative;
    display: block;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .page-button:hover {
        z-index: 2;
        color: #343a40;
        background-color: #f6f6f7;
        border-color: #e2e7f1;
    }

.page-li:not(:first-child) .page-button {
    margin-left: -1px;
}

.page-li.active .page-button {
    z-index: 3;
}

.page-li.disabled {
    pointer-events: none;
    background-color: none;
    border-color: none;
}

.page-list {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
}

.result-descriptor {
    padding-top: 0.85em;
    font-weight: 600;
}
