@page "/Users/UsersPage"
@inherits ComponentBase
@using Tech.Aerove.Blazor.DataTables.Components

<h3>UsersPage</h3>

    <DataTable DataSource="Source" Context="Data" class="table table-sm dt-responsive nowrap w-100">
        <TableHead>
            <Header class="table-active"></Header>
        </TableHead>
        <TableBody>

            <Column>
            
            </Column>

        </TableBody>
    </DataTable>