<div class=" bg-danger">
    <div class="d-block d-sm-none">XS</div>
    <div class="d-none d-sm-block d-md-none">SM</div>
    <div class="d-none d-md-block d-lg-none">MD</div>
    <div class="d-none d-lg-block d-xl-none">LG</div>
    <div class="d-none d-xl-block d-xxl-none">XL</div>
    <div class="d-none d-xxl-block">XXL</div>
</div>
<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
